<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Beschäftigungsmodelle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Beschäftigungsmodelle:</h5><br><br>
  <ion-button expand="block" color="dark" (click)="goProz()">Prozente</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goPau()">Pauschale</ion-button><br>
  <ion-button expand="block" color="dark" (click)="goPpau()">Pickerl-Pauschale</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goGeh()">Monatsgehalt</ion-button><br>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>

