<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Werkstatt anrufen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">Montag - Donnerstag</ion-col>
      <ion-col size="5">08:00 - 17:00</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">Freitag</ion-col>
      <ion-col size="5">08:00 - 14:00</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">SA, SO, Feiertag</ion-col>
      <ion-col size="5">GESCHLOSSEN</ion-col>
    </ion-row>
  </ion-grid>

  <p>ROT leuchtet: STOP, Motor abstellen und Robert anrufen (siehe auch Panne).<br><br>
  Wenn "Service fällig seit ... KM, Motorelektronik, Bremsen oder AdBlue leuchtet,
  Robert anrufen und einen Termin vereinbaren. Anrufen: Einfach Bild anklicken!</p>
  <a href="tel:+43168008420"><img src="assets/img/robert.png"></a>
  </ion-content>
