<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pauschale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Pauschale</h5>
  <p>Sämtliche Varianten der Entlöhnungsform berücksichtigen den Kollektivvertrag und
    die Anmeldehöhe.<br><br>Es gibt eine Wochenend- und eine Alleinfahrerpauschale.
    <br><br>Ob 2 oder 7 Tage, der Preis ist abhängig vom Fahrzeugtyp. Ob Sie einen
    Skoda mit Schaltgetriebe oder einen Mercedes 213 mit Automatik fahren, macht einen
    großen Preisnterschied in der Pauschale. Auch der angeschlossene Funk wirkt
    sich auf den Preis aus. Ohne Funk, Bolt oder Uber ist anders als 40100 oder 31300.
    Den Treibstoff bezahlen Sie, wobei Diesel doppelt so teuer ist wie Strom.
  </p><br>
  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>

</ion-content>
