.alm {
    --backdrop-opacity: 0.6;
    --background: white;
    .alert-header {
        font-size: 18;
        color: white;
    }
    .alert-subHeader {
        font-size: 16;
        color: white;
    }
    .alert-message {
        color: white;
        font-size: 15;
    }
}