<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Regeln</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <h5>Bitte Öffnungszeiten beachten!</h5><br><br>
  <ion-list>
    <ion-button expand="block" color="dark" class="alm" id="leuchten">Armaturenbrett</ion-button>
      <ion-alert
        trigger="leuchten"
        header="Am Armaturenbrett..."
        subHeader="...leuchtet ROTE Warnung"
        message="Bitte Motor abstellen und nicht mehr starten! Zum Menupunkt Panne gehen."
        [buttons]="alertButtons"
        class="alertcss">
      </ion-alert>
    <ion-button expand="block" color="dark" class="alm" id="Abst">Auto abstellen</ion-button>
      <ion-alert
        trigger="Abst"
        header="Auto abstellen"
        subHeader=""
        message="Wenn Sie das Taxi abholen oder aber das Auto abstellen, dann gehört es auf die Julius-Ficker-Straße. Im Hof abstellen bitte nur zur Reparatur!"
        [buttons]="alertButtons"
        class="alertcss">
      </ion-alert>
    <ion-button expand="block" color="dark" id="Bruch">Einbruch</ion-button>
      <ion-alert
        trigger="Bruch"
        header="Einbruch"
        subHeader=""
        message="Nichts im Wagen liegen lassen, auch nicht für 2 Minuten, Taxieinbrecher sind darauf spezielisiert! Zu Ihrer fehlenden Brieftasche kommt noch die Scheibe dazu."
        [buttons]="alertButtons"
        class="alertcss">
      </ion-alert>
    <ion-button expand="block" color="dark" id="Rauch">Rauchverbot</ion-button>
      <ion-alert
        trigger="Rauch"
        header="Rauchverbot"
        subHeader=""
        message="Wenn in Ihrem Taxi geraucht wird, wird es für Sie teuer!"
        [buttons]="alertButtons"
        class="alertcss">
      </ion-alert>

    <ion-button expand="block" color="dark" id="Unfall">Unfall</ion-button>
      <ion-alert
        trigger="Unfall"
        header="Unfall"
        subHeader=""
        message="Bitte zum Menupunkt Unfall gehen."
        [buttons]="alertButtons"
        class="alertcss">
      </ion-alert>
    <ion-button expand="block" color="dark" id="Tanken">Tanken</ion-button>
      <ion-alert
        trigger="Tanken"
        header="Tanken"
        subHeader=""
        message="Tanken ausschließlich mit Tankkarte (Lehner) an ENI-Tankstellen (Menupunkt Tanken)"
        [buttons]="alertButtons"
        class="alertcss">
    </ion-alert>
    <ion-button expand="block" color="dark" id="Pflege">Wagenpflege</ion-button>
      <ion-alert
        trigger="Pflege"
        header="Wagenpflege"
        subHeader=""
        message="Bitte Ihr Taxi nur in der Firma saugen! Waschen: mit Zulassungsschein (Taxoil) um € 3,90 bei ENI - Rautenweg. Innenreinigung: bei Herrn Lehner anmelden und wir reinigen es gründlich."
        [buttons]="alertButtons"
        class="alertcss">
      </ion-alert>
    <ion-button expand="block" color="dark" id="Zusatz">Zusatzeinbauten</ion-button>
      <ion-alert
        trigger="Zusatz"
        header="Zusatzeinbauten"
        subHeader=""
        message="Zusatzeinbauten nur in unserer Werkstätte!"
        [buttons]="alertButtons"
        class="alertcss">
    </ion-alert>
  </ion-list>
</ion-content>