<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Fuhrpark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <img src="assets/img/m213.png"><br>
<h5>Fuhrpark</h5>
<ol>
  <li>Mercedes-Benz E Kombi 213</li>
  <li>Mercedes-Benz E 213</li>
  <li>Hyundai Ionic Strom</li>
  <li>Mercedes-Benz E Kombi 212</li>
  <li>Mercedes-Benz E 212</li>
  <li>Mercedes-Benz B Modell</li>
  <li>Skoda Octavia Kombi</li>
  <li>VW Touran</li>
</ol><br>
<ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>