<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Anfahrt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Mit Auto:</h5>
  <p>Einfahrt Julius Ficker Straße 81</p>
  <div id="map" style="width: 100%; height: 60%"></div>
  <h5>Mit ÖV:</h5>
  <p>
  U1 bis Großfeldsiedlung, Ausgang Dopschstraße<br>
  Die Kürschnergasse vorgehen bis Julius Ficker Straße<br>
  Auf dieser nach links bis Nr. 81</p>
</ion-content>
