<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Kamera Prämie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/geld.jpg">
  <h5>Erfolgsfaktor Kamera - Prämie</h5>
  <p>Wenn Sie einen Unfall haben und:</p>
  <ul>
    <li>die Kamera funktionierte</li>
    <li>Sie danach unmittelbar zu Taxoil fahren, um die Unfallaufnahmen
      zu sichern</li>
    <li>falls der Unfall Freitag nachts oder samstags passiert, die
      Kamera abhängen und damit am Sonntag um 14h zu Taxoil fahren,
      um die Speicherkarte zu tauschen</li>
  </ul>
  <p>belohnen wir Sie, falls Sie am Unfall unschuldig waren, mit einer
    Prämie von € 150. <br>
    Sehr wichtig bei Spurwechsel und allem, was strittig ist: Die Kamera
    beweist Ihre Unschuld.</p><br>
    <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
