<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Gehalt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Monatsgehalt</h5>
  <p>Der Titel sagt alles: Sie bekommen ein fixes Monatsgehalt nach Kollektivvertrag
    und fahren 55 Stunden Taxi in der Woche.
  </p><br>
  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>

</ion-content>
