<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tanken Ad Blue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/adblue.jpg" /><br>
  <p>Bitte immer rechtzeitig AD BLUE nachfüllen.
    Nicht warten bis es fast AUS ist! Die Anzeige
    im Auto ist nicht die Genaueste, und so passiert es,
    dass das Fahrzeug nicht mehr anspringt.
    In die Werkstätte schleppen und frisch programmieren
    ist unnötig. Aber nicht umsonst!</p>
    <p>AdBlue können Sie an jeder Tankstelle oder aber in der
      Firma tanken.</p>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>

</ion-content>
