<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Werbeprämie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <img src="assets/img/geld.jpg"><br><br>
  <h4>Prämie € 150,-</h4>
  <p>Ihre Firma wird größer und noch größer und sucht daher Taxilenker. <br><br>
    Sie haben einen Bekannten, Freund, der noch nicht bei uns Taxi fährt? Ein Kollege,
    der gerne Pauschale fährt und es gegenwärtig nicht kann.<br><br>
    Bringen Sie uns einen Taxilenker, und Sie bekommen sofort € 150,- ausbezahlt. <br>
    Einzige Bedingung: mindestens 14 Arbeitstage bei uns beschäftigt.
  </p>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
