<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tanken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding text-center">
  <img src="assets/img/tank.jpg">
  <br><br><br><br>
  <ion-button expand="block" color="light" (click)="dit()">Diesel</ion-button>
  <ion-button expand="block" color="light" (click)="adtx()">AdBlue</ion-button>
  <ion-button expand="block" color="light" (click)="strtx()">Strom</ion-button>
  <ion-button expand="block" color="light" (click)="faltx()">Falsch tanken</ion-button>
</ion-content>
