<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Falsch tanken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/falschtank.png"><br>
  <p>Falsches Tanken und Fahren verursacht großen Schaden! Wenn Sie es
      bemerken, <b>bitte sofort abstellen und nicht mehr starten.</b> In der
      Firma anrufen; der Wagen muss abgeschleppt werden.</p><br>
  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
