<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Informationen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <ion-button expand="block" color="dark" (click)="goCor()">Corona-Schutzwand</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goCam()">Kamera</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goAus()">Fahrzeugausrüstung</ion-button><br>
  <ion-button expand="block" color="dark" (click)="goPark()">Fuhrpark</ion-button><br>
  <ion-button expand="block" color="dark" (click)="goWer()">Prämie € 150,-</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goFar()">richtig Taxifahren</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goSchl()">Taxischulen</ion-button> <br>
  <ion-button expand="block" color="dark" (click)="goWeb()">Taxitarif</ion-button> <br>

</ion-content>