<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ausnahmen Taxitarif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Wenn Sie die untenstehende Schaltfläche antippen, kommen Sie zu
    unserer Webseite. Dort wählen Sie den Menupunkt Lenker. Auf dieser Seite
    oben können Sie die "Ausnahmen vom Taxitarif" wählen und studieren.
  </p>
  <ion-button expand="block" color="light" (click)="goWeb()">Ausnahmen</ion-button><br>
</ion-content>
