<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Kamera Kontrolle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/dashcam.png">
  <h5>Erfolgsfaktor Kontrolle</h5>
  <p>Kontrollieren Sie die Kamera jeden Tag bei Arbeitsbeginn. Es ist einfach!
    <br><br>Zündung einschalten: Auf beiden Kamerabildschirmen muss ein Bild erscheinen.
    Halten Sie einen Geldschein davor, so sehen Sie die Bildveränderung. Mehr können
    Sie nicht tun. Die Speicherkarte kontrollieren wir in der Firma. Danke!
  </p>
  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
