<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pickerl Pauschale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br><br>
  <img src="assets/img/pick.jpg"><br><br>
  <p>
    Sie sind Alleinfahrer bei uns und wohnen in einem Bezirk mit Parkpickerl?
    Wenn Sie keine Garage haben, dann haben Sie ein Problem.<br><br>
    Wir können Ihnen helfen, indem wir bestätigen, dass Sie das Taxi auch privat
    nutzen dürfen und wir dafür den vorgeschriebenen Sachbezug an das Finanzamt
    und die Krankenkasse abführen. Für Sie entstehen keine Kosten!
  </p>

  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
