<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Prozente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h5>Prozente</h5>
  <p>Sämtliche Varianten der Entlöhnungsform berücksichtigen den Kollektivvertrag und
    die Anmeldehöhe.<br><br>
    Die älteste Form der Chauffeurentlöhnung: Sie fahren auf Umsatzbeteiligung.
    <br><br>Ein gewisser Prozentsatz vom Umsatz gehört Ihnen. Der Verdienst liegt
    in der unterschiedlichen Lenkzeit. Hierbei unterscheidet man den Taglenker,
    den Nachtlenker, den Wochenendlenker, den 5-Tage-Alleinfahrer und den 7-Tage-
    Alleinfahrer. Es wird kein Unterschied in der Autoqualität gemacht. Die Prozentzahl
    hängt von der Höhe des Umsatzes ab. Mehr Umsatz ergibt mehr Prozente. <br><br>
    Auch der sog. Ertragskilometer spielt noch mit. Er wird als Gesamtkilometer
    (Besetztkilometer plus Leerkilometer) geteilt durch den Gesamtumsatz berechnet.
    <br><br>Lange und viele Leerkilometer wirken sich negativ auf die Prozente aus.
  </p><br>
  <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
