<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Fahrzeugausrüstung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Die Fahrzeugausrüstung ist WICHTIG. Polizei kontrolliert sehr streng.
    Wenn etwas fehlt, bitte sofort zum Herrn Lehner.</p><br>
    <ion-grid style="padding-bottom:0 !important">
      <ion-row>
        <ion-col><img src="assets/img/pol.jpg"></ion-col>
        <ion-col><img src="assets/img/pol.jpg"></ion-col>
      </ion-row>
    </ion-grid>
      <ol style="padding-top:0 !important">
      <li>die Betriebsordnung</li>
      <li>Auszug aus dem Wiener Taxitarif</li>
      <li>Standplatzverzeichnis</li>
      <li>Außer Dienst Tafel</li>
      <li>Warnweste</li>
      <li>Stadtplan von Wien</li>
      <li>Autoapotheke</li>
      <li>Pannendreieck</li>
      <li>Zulassungsschein</li>
      <li>Reservereifen oder Flickset</li>
      <li>Wechselgeld für 50 Euro</li>
      <li>Straßenverzeichnis brauchen Sie keines mehr.</li><br>
    </ol>
    <p>Bei der Übergabe des Fahrzeugs müssen Sie darauf achten, dass alles
      vorhanden ist. Speziell auch wenn Sie ein Reservefahrzeug bekommen.
      Wir informieren Sie automatisch (SMS) wöchentlich über die APP.<br><br>
      Sollte dennoch einmal etwas fehlen > Sofort bei Herrn Lehner ersetzen
      lassen!
    </p>
    <ion-button expand="block" color="dark" (click)="goBack()">zurück</ion-button> <br>
</ion-content>
